<div id="demo-popup">
  <div class="content-popup-import">
    <div class="la-headings text-center spacer-position-middle">
      <h2 class="heading-tag">15+ Beautiful Home Demos</h2>
      <div class="la-separator"><span class="la-line"></span></div>
      <div class="subheading-tag">
        <p>As an endless inspiration, Mantis allows you create the beautiful site as you wish with distinguished functional home.</p>
      </div>
    </div>
    <div class="demo-grid grid-items lg-grid-4-items md-grid-4-items sm-grid-2-items xs-grid-1-items mb-grid-1-items">
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-01" class="btn-popup"> 
            <img src="{{ 'home-01.jpg' | asset_url }}" alt="Main Demo 01"> <span>Import Now</span> 
          </a>
          <div id="main-demo-01" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home1" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 01</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-02" class="btn-popup"> 
            <img src="{{ 'home-02.jpg' | asset_url }}" alt="Main Demo 02"> <span>Import Now</span> 
          </a>
          <div id="main-demo-02" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home2" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 02</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-03" class="btn-popup"> 
            <img src="{{ 'home-03.jpg' | asset_url }}" alt="Main Demo 03"> <span>Import Now</span> 
          </a>
          <div id="main-demo-03" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home3" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 03</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-04" class="btn-popup"> 
            <img src="{{ 'home-04.jpg' | asset_url }}" alt="Main Demo 04"> <span>Import Now</span> 
          </a>
          <div id="main-demo-04" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home4" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 04</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-05" class="btn-popup"> 
            <img src="{{ 'home-05.jpg' | asset_url }}" alt="Main Demo 05"> <span>Import Now</span> 
          </a>
          <div id="main-demo-05" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home5" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 05</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-06" class="btn-popup"> 
            <img src="{{ 'home-06.jpg' | asset_url }}" alt="Main Demo 06"> <span>Import Now</span> 
          </a>
          <div id="main-demo-06" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home6" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 06</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-07" class="btn-popup"> 
            <img src="{{ 'home-07.jpg' | asset_url }}" alt="Main Demo 07"> <span>Import Now</span> 
          </a>
          <div id="main-demo-07" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home7" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 07</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-08" class="btn-popup"> 
            <img src="{{ 'home-08.jpg' | asset_url }}" alt="Main Demo 08"> <span>Import Now</span> 
          </a>
          <div id="main-demo-08" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home8" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 08</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-09" class="btn-popup"> 
            <img src="{{ 'home-09.jpg' | asset_url }}" alt="Main Demo 09"> <span>Import Now</span> 
          </a>
          <div id="main-demo-09" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home9" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 09</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-10" class="btn-popup"> 
            <img src="{{ 'home-10.jpg' | asset_url }}" alt="Main Demo 10"> <span>Import Now</span> 
          </a>
          <div id="main-demo-10" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home10" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 10</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-11" class="btn-popup"> 
            <img src="{{ 'home-11.jpg' | asset_url }}" alt="Main Demo 11"> <span>Import Now</span> 
          </a>
          <div id="main-demo-11" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home11" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 11</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-12" class="btn-popup"> 
            <img src="{{ 'home-12.jpg' | asset_url }}" alt="Main Demo 12"> <span>Import Now</span> 
          </a>
          <div id="main-demo-12" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home12" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 12</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-13" class="btn-popup"> 
            <img src="{{ 'home-13.jpg' | asset_url }}" alt="Main Demo 13"> <span>Import Now</span> 
          </a>
          <div id="main-demo-13" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home13" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 13</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-14" class="btn-popup"> 
            <img src="{{ 'home-14.jpg' | asset_url }}" alt="Main Demo 14"> <span>Import Now</span> 
          </a>
          <div id="main-demo-14" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home14" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 14</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-15" class="btn-popup"> 
            <img src="{{ 'home-15.jpg' | asset_url }}" alt="Main Demo 15"> <span>Import Now</span> 
          </a>
          <div id="main-demo-15" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home15" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 15</h2>
        </div>
      </div>
    </div>
    <div class="container-import-form">
      <div class="form-import">
        <label>Import</label>
        <div class="content">
          <form action="">
            <textarea class="form-control" id="g_import_form" rows="10" placeholder="Paste data json here..." required></textarea>
            <button class="btn" id="g_import_btn" type="submit">Publish</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <a class="g-btn-close btn" href="#"><i class="dl-icon-close"></i></a>
</div>
<script src="{{ 'g_update_theme.js' | asset_url }}" async></script>