{%- case settings.sidetoshow -%}
    {% when '3' %}
      	{%- assign slider_class_width = 'xlg-grid-3-items lg-grid-3-items md-grid-3-items' -%}
    {% when '4' %}
    	{%- assign slider_class_width = 'xlg-grid-4-items lg-grid-4-items md-grid-4-items' -%}
    {% when '5' %}
    	{%- assign slider_class_width = 'xlg-grid-5-items lg-grid-5-items md-grid-4-items' -%}
{%- endcase -%}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
<div class="g-related-product g-dots-style-2">
  <div class="{% if settings.use_container_related %}container{% else %}container-full{% endif %}">
    <div class="text-center">
      {% if settings.related_products_title != blank %}
      <div class="g-custom-block-title">{{ settings.related_products_title }}</div>
      {% endif %}
    </div>
    <div class="g-slick-products grid-items {{ slider_class_width }} sm-grid-3-items xs-grid-2-items mb-grid-1-items" data-slick='{"infinite":false,"dots":true,"slidesToShow":{{ settings.sidetoshow }},"slidesToScroll":{{ settings.sidetoshow }},"autoplay":false,"arrows":false,"speed":"1000","autoplaySpeed":3000,"centerMode":false,"variableWidth":false,"responsive":[{"breakpoint":1200,"settings":{"slidesToShow":{{ settings.sidetoshow }},"slidesToScroll":{{ settings.sidetoshow }}}},{"breakpoint":992,"settings":{"slidesToShow":3,"slidesToScroll":3}},{"breakpoint":768,"settings":{"slidesToShow":2,"slidesToScroll":2}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}]}'>
      {% assign current_product = product %}
      {% assign current_product_found = false %}
      {% assign index_related = 0 %}
      {% assign limit_related = settings.number_of_related_products | times:1 %}
      {% capture number_of_related_products_to_fetch %}{{ settings.number_of_related_products | plus: 1 }}{% endcapture %}
      {% for product in collection.products limit: number_of_related_products_to_fetch %}
      {% if index_related < limit_related %}
      {% if product.handle == current_product.handle %}
      {% assign current_product_found = true %}
      {% else %}
      {% assign index_related = index_related | plus:1 %}
      {% unless current_product_found == false and forloop.last %}

      {% include 'g_product_grid' %}

      {% endunless %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}