{%- assign new_comment = false -%}
{% if comment and comment.created_at %}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{% endif %}

{% if new_comment %}
  {%- assign duplicate_comment = false %}
  {% for comment in article.comments %}
    {% if comment.id == new_comment_id %}
      {%- assign duplicate_comment = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if duplicate_comment %}
    {%- assign number_of_comments = article.comments_count -%}
  {% else %}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {% endif %}
{% else %}
  {%- assign number_of_comments = article.comments_count -%}
{% endif %}

{% case section.settings.layout %}
{% when '1' %}
<section id="section_page_header" class="wpb_row section-page-header" {% if section.settings.image != blank %}style="background-image: url({{ section.settings.image | img_url: '1920x', format: 'pjpg' | split:'?' | first }}); background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: transparent;"{% endif %}>
    <div class="container">
        <div class="page-header-inner" {% if section.settings.padding != blank %}style="padding: {{ section.settings.padding }};"{% endif %}>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>{{ article.title }}</h1>
                    <div class="la-breadcrumbs hidden-xs">
                      <div class="la-breadcrumb-content">
                        <div class="la-breadcrumb-wrap">
                          <div class="la-breadcrumb-item"><a href="{{ shop.url }}" class="la-breadcrumb-item-link is-home" rel="home" title="{{ shop.name | escape }}" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>{{ 'general.breadcrumbs.home' | t }}</a></div>
                          <div class="la-breadcrumb-item">
                            <div class="la-breadcrumb-item-sep" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>/</div>
                          </div>
                          <div class="la-breadcrumb-item"><a href="{{ blog.url }}" class="la-breadcrumb-item-link" title="{{ blog.title | escape }}" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>{{ blog.title }}</a></div>
                          <div class="la-breadcrumb-item">
                            <div class="la-breadcrumb-item-sep" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>/</div>
                          </div>                          
                          <div class="la-breadcrumb-item" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}><span class="la-breadcrumb-item-target">{{ article.title }}</span></div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="single-post-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        {% if section.settings.show_blog_categories %}
        <div class="box-child-sidebar">
          {% if section.settings.title_blog_categories != blank %}
          <h4>{{ section.settings.title_blog_categories }}</h4>
          {% endif %}
          <ul class="list-categories-blog">
            {% for link in linklists[section.settings.category_sidebar_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if section.settings.show_lastest_post_blog %}
        <div class="box-child-sidebar">
          {% if section.settings.title_lastest_post != blank %}
          <h4>{{ section.settings.title_lastest_post }}</h4>
          {% endif %}
          <ul class="list-lastest-post">
            {% for article in blog.articles limit:section.settings.lastest_post_number %}
            <li>
              {% if article.image %}
              <div class="pr-item-image">
                <a href="{{ article.url }}" class="lazy" data-src="{{ article | img_url: 'small' }}"></a>
              </div>
              {% endif %}
              <div class="pr-item-text">
                <a href="{{ article.url }}">{{ article.title }}</a>
                <div class="post-date">{{ article.published_at | time_tag: format: 'month_day_year' }}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if section.settings.show_instagram_blog %}
        <div class="box-child-sidebar">
          {% if section.settings.title_instagram_blog != blank %}
          <h4>{{ section.settings.title_instagram_blog }}</h4>
          {% endif %}
          <div id="la_instagram_blog" class="la-instagram-feeds instagram-grayscale">
            <div class="instagram-feed-inner">
              <input type="hidden" id="g-token-{{ section.id }}" value="{{ section.settings.accessToken_blog }}" />
              <div class="globo-instagram clearfix" data-id="{{ section.id }}">
                <div id="g-instafeed-{{ section.id }}" class="instagram--with-padding" data-limit="{{ section.settings.limit_instagram_blog }}" data-sort-by="none">
                </div>
              </div>
            </div>
          </div>
        </div> 
        {% endif %}
        {% if section.settings.show_tags_blog %}
        {% if blog.all_tags.size > 0 %}
        <div class="box-child-sidebar">
          {% if section.settings.title_tags_blog != blank %}
          <h4>{{ section.settings.title_tags_blog }}</h4>
          {% endif %}
          <ul class="tag-blogs">
            {% for tag in blog.all_tags %}
            {% if current_tags contains tag %}
            <li><a class="chosen" href="{{ tag.title }}">{{ tag.title }}</a></li>
            {% else %}
            <li>{{ tag | link_to_tag: tag }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% endif %} 
        {% if section.settings.show_blog_about_author %}
        <div class="box-child-sidebar">
          {% if section.settings.title_blog_author != blank %}
          <h4>{{ section.settings.title_blog_author }}</h4>
          {% endif %}
          <div class="about-author-sidebar">
            {% if section.settings.blog_image_author != blank %}
            <img data-src="{{ section.settings.blog_image_author | img_url: 'large' }}" class="lazy" alt="{{ section.settings.blog_image_author.alt }}" />
            {% endif %}
            {% if section.settings.blog_name_author != blank %}
            <div class="name">{{ section.settings.blog_name_author }}</div>
            {% endif %}
            {% if section.settings.blog_text_author != blank %}
            <p>{{ section.settings.blog_text_author }}</p>
            {% endif %}
            <ul>
              {% if section.settings.link_author_facebook != blank %}
              <li><a href="{{ section.settings.link_author_facebook }}" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              {% endif %}
              {% if section.settings.link_author_twitter != blank %}
              <li><a href="{{ section.settings.link_author_twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              {% endif %}
              {% if section.settings.link_author_google != blank %}
              <li><a href="{{ section.settings.link_author_google }}" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
              {% endif %}
              {% if section.settings.link_author_instagram != blank %}
              <li><a href="{{ section.settings.link_author_instagram }}" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="col-md-9 col-xs-12 site-content-blog">
        <div class="entry-thumbnail"><img src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}" /></div>
        <div class="entry-meta">
          {% if section.settings.blog_show_author %}
          <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
          {% endif %}

          {% if section.settings.blog_show_date %}
          <span class="article__date">
            {{ article.published_at | time_tag: format: 'month_day_year' }}
          </span>
          {% endif %}                  
        </div>
        <div class="entry-content">
        	{{ article.content }}
        </div>
        {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
        {% endif %}
        
        {% if blog.comments_enabled? %}
        {% if number_of_comments > 0 %}
        <hr>
        <div class="page-width_blog">
          <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <h2 class="h3">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h2>

              {% paginate article.comments by 5 %}

              {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
              {% endcomment %}
              <div id="comments">

                {% if new_comment %}
                <p class="note form-success">
                  {% if blog.moderated? %}
                  {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                  {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
                {% endif %}

                <ul class="comments">
                  {% comment %}
                  If a comment was just submitted with no blank field, show it.
                  {% endcomment %}
                  {% if new_comment %}
                  <li id="{{ comment.id }}" class="comment">
                    {% include 'comment' %}
                  </li>
                  {% endif %}

                  {% for comment in article.comments %}
                  {% unless comment.id == new_comment_id %}
                  <li id="{{ comment.id }}" class="comment">
                    {% include 'comment' %}
                  </li>
                  {% endunless %}
                  {% endfor %}
                </ul>

                {% if paginate.pages > 1 %}
                {% include 'pagination' %}
                {% endif %}

              </div>
              {% endpaginate %}
            </div>
          </div>
        </div>
        {% endif %}

        <hr>
        <div class="page-width_blog">
          <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <div class="comment-form form-vertical">
                {% form 'new_comment', article %}

                <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>

                {{ form.errors | default_errors }}

                <div class="grid">

                  <div class="grid__item medium-up--one-half">
                    <label for="CommentAuthor">{{ 'blogs.comments.name' | t }}</label>
                    <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}">
                  </div>

                  <div class="grid__item medium-up--one-half">
                    <label for="CommentEmail">{{ 'blogs.comments.email' | t }}</label>
                    <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                  </div>

                  <div class="grid__item">
                    <label for="CommentBody">{{ 'blogs.comments.message' | t }}</label>
                    <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} input--error{% endif %}">{{ form.body }}</textarea>
                  </div>

                </div>

                {% if blog.moderated? %}
                <p class="fine-print">{{ 'blogs.comments.moderated' | t }}</p>
                {% endif %}

                <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
                {% endform %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{%- if section.settings.show_related_posts and blogs[blog.handle].articles_count > 1 -%}
<div class="related-blog padding-related-blog clearfix">
  <div class="container-full">
  <h3>{{ section.settings.title_related_posts }}</h3>
  <div class="row slick-related-blog" data-slick='{"infinite": false,"dots": true,"autoplay":false,"arrows":false,"slidesToShow": 3,"slidesToScroll": 1, "responsive":[{"breakpoint": 960,"settings":{"slidesToShow": 2}},{"breakpoint": 480,"settings":{"slidesToShow": 1}}]}'>
    {% assign g_article = blogs[blog.handle].g_article | sort: 'title' %}
    {% assign number_limit = section.settings.how_many_related_posts | plus:0 %}
    {% for g_article in blogs[blog.handle].articles limit:number_limit %}
    <article class="col-md-4 col-sm-6 col-xs-12">
      <div class="loop__item__inner">
        <div class="loop__item__inner2">
          <div class="loop__item__thumbnail">
            <div class="loop__item__thumbnail--bkg lazy" style="padding-bottom: 54%; display: block; background-image: url({{ g_article.image | img_url: 'master' }});">
              <a href="{{ g_article.url }}" class="loop__item__thumbnail--linkoverlay"><span class="hidden">{{ g_article.title }}</span></a>
            </div>
          </div>
          <div class="loop__item__info">
            <div class="loop__item__info2">
              <div class="loop__item__meta">
                {% if section.settings.blog_show_author %}
                <span class="article__author">{{ 'blogs.article.by_author' | t: author: g_article.author }}</span>
                {% endif %}

                {% if section.settings.blog_show_date %}
                <span class="article__date">
                  {{ g_article.published_at | time_tag: format: 'month_day_year' }}
                </span>
                {% endif %}                  
              </div>
              <div class="loop__item__title">
                <h2 class="entry-title"><a href="{{ g_article.url }}" title="{{ g_article.title }}">{{ g_article.title }}</a></h2>
              </div>
              <div class="loop__item__desc">
                {% if g_article.excerpt.size > 0 %}
                {{ g_article.excerpt }}
                {% else %}
                {{ g_article.content | strip_html | truncate: 150 }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  </div>
</div>
{%- endif -%}
{% when '2' %}
<section id="section_page_header" class="wpb_row section-page-header-layout-2 section-page-header" {% if section.settings.image != blank %}style="background-image: url({{ section.settings.image | img_url: '1920x', format: 'pjpg' | split:'?' | first }}); background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: transparent;"{% endif %}>
    <div class="container">
        <div class="page-header-inner" {% if section.settings.padding != blank %}style="padding: {{ section.settings.padding }};"{% endif %}>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>{{ article.title }}</h1>
                  	<div class="excerpt-post" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>
                      {% if article.excerpt.size > 0 %}
                      {{ article.excerpt }}
                      {% else %}
                      {{ article.content | strip_html | truncate: 150 }}
                      {% endif %}
                  	</div>
                    <div class="la-breadcrumbs hidden-xs">
                      <div class="la-breadcrumb-content">
                        <div class="la-breadcrumb-wrap">
                          <div class="la-breadcrumb-item"><a href="{{ shop.url }}" class="la-breadcrumb-item-link is-home" rel="home" title="{{ shop.name | escape }}" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>{{ 'general.breadcrumbs.home' | t }}</a></div>
                          <div class="la-breadcrumb-item">
                            <div class="la-breadcrumb-item-sep" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>/</div>
                          </div>
                          <div class="la-breadcrumb-item"><a href="{{ blog.url }}" class="la-breadcrumb-item-link" title="{{ blog.title | escape }}" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>{{ blog.title }}</a></div>
                          <div class="la-breadcrumb-item">
                            <div class="la-breadcrumb-item-sep" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}>/</div>
                          </div>                          
                          <div class="la-breadcrumb-item" {% if section.settings.color_text_banner != blank %}style="color: {{ section.settings.color_text_banner }};"{% endif %}><span class="la-breadcrumb-item-target">{{ article.title }}</span></div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="single-post-blog">
  <div class="container">
    <div class="entry-thumbnail"><img src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}" /></div>
    <div class="entry-meta">
      {% if section.settings.blog_show_author %}
      <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
      {% endif %}

      {% if section.settings.blog_show_date %}
      <span class="article__date">
        {{ article.published_at | time_tag: format: 'month_day_year' }}
      </span>
      {% endif %}                  
    </div>
    <div class="entry-content">
      {{ article.content }}
    </div>
    {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
    {% endif %}

    {% if blog.comments_enabled? %}
    {% if number_of_comments > 0 %}
    <hr>
    <div class="page-width_blog">
      <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <h2 class="h3">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h2>

          {% paginate article.comments by 5 %}

          {% comment %}
          #comments is required, it is used as an anchor link by Shopify.
          {% endcomment %}
          <div id="comments">

            {% if new_comment %}
            <p class="note form-success">
              {% if blog.moderated? %}
              {{ 'blogs.comments.success_moderated' | t }}
              {% else %}
              {{ 'blogs.comments.success' | t }}
              {% endif %}
            </p>
            {% endif %}

            <ul class="comments">
              {% comment %}
              If a comment was just submitted with no blank field, show it.
              {% endcomment %}
              {% if new_comment %}
              <li id="{{ comment.id }}" class="comment">
                {% include 'comment' %}
              </li>
              {% endif %}

              {% for comment in article.comments %}
              {% unless comment.id == new_comment_id %}
              <li id="{{ comment.id }}" class="comment">
                {% include 'comment' %}
              </li>
              {% endunless %}
              {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
            {% include 'pagination' %}
            {% endif %}

          </div>
          {% endpaginate %}
        </div>
      </div>
    </div>
    {% endif %}

    <hr>
    <div class="page-width_blog">
      <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <div class="comment-form form-vertical">
            {% form 'new_comment', article %}

            <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>

            {{ form.errors | default_errors }}

            <div class="grid">

              <div class="grid__item medium-up--one-half">
                <label for="CommentAuthor">{{ 'blogs.comments.name' | t }}</label>
                <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}">
              </div>

              <div class="grid__item medium-up--one-half">
                <label for="CommentEmail">{{ 'blogs.comments.email' | t }}</label>
                <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
              </div>

              <div class="grid__item">
                <label for="CommentBody">{{ 'blogs.comments.message' | t }}</label>
                <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} input--error{% endif %}">{{ form.body }}</textarea>
              </div>

            </div>

            {% if blog.moderated? %}
            <p class="fine-print">{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}

            <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
            {% endform %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{%- if section.settings.show_related_posts and blogs[blog.handle].articles_count > 1 -%}
<div class="related-blog padding-related-blog clearfix">
  <div class="container-full">
  <h3>{{ section.settings.title_related_posts }}</h3>
  <div class="row slick-related-blog" data-slick='{"infinite": false,"dots": true,"autoplay":false,"arrows":false,"slidesToShow": 3,"slidesToScroll": 1, "responsive":[{"breakpoint": 960,"settings":{"slidesToShow": 2}},{"breakpoint": 480,"settings":{"slidesToShow": 1}}]}'>
    {% assign g_article = blogs[blog.handle].g_article | sort: 'title' %}
    {% assign number_limit = section.settings.how_many_related_posts | plus:0 %}
    {% for g_article in blogs[blog.handle].articles limit:number_limit %}
    <article class="col-md-4 col-sm-6 col-xs-12">
      <div class="loop__item__inner">
        <div class="loop__item__inner2">
          <div class="loop__item__thumbnail">
            <div class="loop__item__thumbnail--bkg lazy" style="padding-bottom: 54%; display: block; background-image: url({{ g_article.image | img_url: 'master' }});">
              <a href="{{ g_article.url }}" class="loop__item__thumbnail--linkoverlay"><span class="hidden">{{ g_article.title }}</span></a>
            </div>
          </div>
          <div class="loop__item__info">
            <div class="loop__item__info2">
              <div class="loop__item__meta">
                {% if section.settings.blog_show_author %}
                <span class="article__author">{{ 'blogs.article.by_author' | t: author: g_article.author }}</span>
                {% endif %}

                {% if section.settings.blog_show_date %}
                <span class="article__date">
                  {{ g_article.published_at | time_tag: format: 'month_day_year' }}
                </span>
                {% endif %}                  
              </div>
              <div class="loop__item__title">
                <h2 class="entry-title"><a href="{{ g_article.url }}" title="{{ g_article.title }}">{{ g_article.title }}</a></h2>
              </div>
              <div class="loop__item__desc">
                {% if g_article.excerpt.size > 0 %}
                {{ g_article.excerpt }}
                {% else %}
                {{ g_article.content | strip_html | truncate: 150 }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  </div>
</div>
{%- endif -%}
{% endcase %}

{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Layout 1"
          },
          {
            "value": "2",
            "label": "Layout 2"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner image"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Padding banner: (top-right-bottom-left)",
        "info": "Ex: 10px 0 30px 0"
      },
      {
        "type": "color",
        "id": "color_text_banner",
        "label": "Color banner text"
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Blog sidebar settings"
      },
      {
         "type": "paragraph",
         "content": "Blog Categories"
      },
      {
        "type": "checkbox",
        "id": "show_blog_categories",
        "label": "Show blog categories",
        "default": true
      },
      {
        "type": "text",
        "id": "title_blog_categories",
        "label": "Title categories",
        "default": "Categories"
      },
      {
        "type": "link_list",
        "id": "category_sidebar_linklist",
        "label": "List categories"
      },
      {
         "type": "paragraph",
         "content": "Recent Posts"
      },
      {
        "type": "checkbox",
        "id": "show_lastest_post_blog",
        "label": "Show lastest post",
        "default": true
      },
      {
        "type": "text",
        "id": "title_lastest_post",
        "label": "Title list post",
        "default": "Lastest Post"
      },
      {
        "type": "text",
        "id": "lastest_post_number",
        "label": "Number post(integer)",
        "default": "4"
      },
      {
         "type": "paragraph",
         "content": "Instagram"
      },
      {
        "type": "checkbox",
        "id": "show_instagram_blog",
        "label": "Show instagram",
        "default": true
      },
      {
        "type": "text",
        "id": "title_instagram_blog",
        "label": "Title instagram",
        "default": "Instagram"
      },
      {
        "type": "text",
        "id": "accessToken_blog",
        "label": "Access token",
        "default": "4056544068.d1a3d85.9d2eba44616b4f4c9ec2e4a9c6d89d27"
      },
      {
        "type": "text",
        "id": "limit_instagram_blog",
        "label": "Limit(integer)",
        "default": "4"
      },
      {
         "type": "paragraph",
         "content": "Tag"
      },
      {
        "type": "checkbox",
        "id": "show_tags_blog",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "text",
        "id": "title_tags_blog",
        "label": "Title tags",
        "default": "Tag Cloud"
      },
      {
         "type": "paragraph",
         "content": "About Author"
      },
      {
        "type": "checkbox",
        "id": "show_blog_about_author",
        "label": "Show about author",
        "default": true
      },
      {
        "type": "text",
        "id": "title_blog_author",
        "label": "Title about author",
        "default": "About Author"
      },
      {
        "type": "image_picker",
        "id": "blog_image_author",
        "label": "Image author"
      },
      {
        "type": "text",
        "id": "blog_name_author",
        "label": "Name author",
        "default": "Nataila Portman – Blogger/Designer"
      },
      {
        "type": "textarea",
        "id": "blog_text_author",
        "label": "Text author",
        "default": "Praesent sed ex vel mauris eleifend mollis. Vestibulum dictum sodales ante, ac pulvinar urna sollicitudin in"
      },
      {
        "type": "text",
        "id": "link_author_facebook",
        "label": "Link facebook",
        "default": "http://facebook.com"
      },
      {
        "type": "text",
        "id": "link_author_twitter",
        "label": "Link twitter",
        "default": "https://twitter.com"
      },
      {
        "type": "text",
        "id": "link_author_google",
        "label": "Link google plus",
        "default": "https://plus.google.com"
      },
      {
        "type": "text",
        "id": "link_author_instagram",
        "label": "Link instagram",
        "default": "https://www.instagram.com"
      },
      {
        "type": "header",
        "content": "Related posts settings"
      },
      {
        "type": "checkbox",
        "id": "show_related_posts",
        "label": "Show related posts",
        "default": true
      },
      {
        "type": "text",
        "id": "title_related_posts",
        "label": "Title",
        "default": "Related Post"
      },
      {
        "type": "text",
        "id": "how_many_related_posts",
        "label": "Number limit(integer)",
        "default": "5"
      }
    ]
  }
{% endschema %}
