{% if settings.type_base_family contains 'Google' %}
  {% assign type_base_parts = settings.type_base_family | split: '_' %}
  {% assign type_base_name = type_base_parts[1] %}
  {% capture base_family %}"{{ type_base_name | split: ':' | first | replace: '+', ' ' }}"{% if type_base_parts.last == 'serif' %}, serif {% else %}, "Helvetica Neue", Arial, sans-serif{% endif %}{% endcapture %}
{% else %}
  {% assign base_family = settings.type_base_family %}
{% endif %}

{% if settings.type_header_family contains 'Google' %}
  {% assign type_header_parts = settings.type_header_family | split: '_' %}
  {% assign type_header_name = type_header_parts[1] %}
  {% capture header_family %}"{{ type_header_name | split: ':' | first | replace: '+', ' ' }}"{% if type_header_parts.last == 'serif' %}, serif {% else %}, "Helvetica Neue", Arial, sans-serif{% endif %}{% endcapture %}
{% else %}
  {% assign header_family = settings.type_header_family %}
{% endif %}

{%- case section.settings.use_width -%}
    {% when '1' %}
      	{%- assign width_slideshow = 'g-fullwwidth' -%}
    {% when '2' %}
    	{%- assign width_slideshow = 'container-full' -%}
    {% when '3' %}
    	{%- assign width_slideshow = 'container' -%}
{%- endcase -%}

{%- case section.settings.nav_style -%}
    {% when '1' %}
      	{%- assign nav_class = 'g-nav_style_1' -%}
    {% when '2' %}
    	{%- assign nav_class = 'g-nav_style_2' -%}
{%- endcase -%}
<div class="g-slideshow-homepage {% if section.settings.use_center_with_loop %}g-slideshow-center-with-loop{% endif %} {{ nav_class }} {% if section.settings.use_full_screen %}full-screen-slideshow{% endif %}" {% if section.settings.margin != blank %}style="margin: {{ section.settings.margin }};"{% endif %}>
  <div class="{{ width_slideshow }}">
    {% if section.settings.show_left_menu_slider %}
    <div class="left-menu-collection">
      <ul>
        {% if section.settings.link_left_menu_slider != blank %}
        {% for link in linklists[section.settings.link_left_menu_slider].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        {% else %}
        {% for i in (1..8) %}
        <li><a href="/">Desktop</a></li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <div class="data-slideshow" {% if section.settings.use_center_with_loop %}data-items="1.62" data-center="true" data-margin="10"{% else %}data-items="1" data-center="false" data-margin="0"{% endif %} {% if section.settings.autoplay %}data-auto="{{ section.settings.autoplay_speed }}"{% endif %} data-paging="{% if section.settings.use_dots_slideshow %}true{% else %}false{% endif %}" data-nav="{% if section.settings.use_nav_slideshow %}true{% else %}false{% endif %}" data-transition="{{ section.settings.transition }}" data-prev='<i class="dl-icon-left"></i>' data-next='<i class="dl-icon-right"></i>' style="display: none;"></div>
    <div id="slideshow-section-{{ section.id }}" class="g-slideshow owl-carousel">
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {% if block.type == 'image' %}
      {%- case block.settings.align_content -%}
      {% when '1' %}
      {%- assign align_style = 'align-left_content' -%}
      {% when '2' %}
      {%- assign align_style = 'align-center_content' -%}
      {% when '3' %}
      {%- assign align_style = 'align-right_content' -%}
      {%- endcase -%}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 760px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0; line-height: 1;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; text-transform: uppercase; margin: 0 0 8px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(124, 59, 59, 0.5) 8px 8px 0px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.subheading != blank %}
              <p class="subheading-style-border" style="font-size: {{ block.settings.subheading_font_size }}px; font-weight: 600; color: {{ block.settings.subheading_color }};">{{ block.settings.subheading }}</p>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 760px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0; line-height: 1;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; text-transform: uppercase; margin: 0 0 8px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(124, 59, 59, 0.5) 8px 8px 0px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.subheading != blank %}
              <p class="subheading-style-border" style="font-size: {{ block.settings.subheading_font_size }}px; font-weight: 600; color: {{ block.settings.subheading_color }};">{{ block.settings.subheading }}</p>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>   
      </div>
      {% endif %}
      {% endif %}

      {% if block.type == 'image2' %}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow">
          <div class="container text-left">
            <div class="g-content-slider">
              {% if block.settings.title != blank %}
              	<h2 style='font-family: {{ header_family }}; font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0 0 40px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(124, 59, 59, 0.5) 8px 8px 0px;{% endif %}'>{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.show_video_popup %}
              <div class="link-video">
                <a href="{{ block.settings.link_video_popup }}" class="video_popup"><i class="fa fa-play"></i></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow">
          <div class="container text-left">
            <div class="g-content-slider">
              {% if block.settings.title != blank %}
              	<h2 style='font-family: {{ header_family }}; font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0 0 40px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(124, 59, 59, 0.5) 8px 8px 0px;{% endif %}'>{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.show_video_popup %}
              <div class="link-video">
                <a href="{{ block.settings.link_video_popup }}" class="video_popup"><i class="fa fa-play"></i></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>   
      </div>
      {% endif %}
      {% endif %}
      
      {% if block.type == 'image3' %}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow">
          {% if block.settings.image_layer != blank %}
          	<div class="image-layer-slider"><img src="{{ block.settings.image_layer | img_url: '613x467' | split:'?' | first }}" alt="{{ block.settings.image_layer.alt }}" /></div>
          {% endif %}
          <div class="container text-left">
            <div class="g-content-slider"style="max-width: 570px; float: right;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0 0 30px 0; line-height: 1;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 600; color: {{ block.settings.heading_color }}; text-transform: none; margin: 0 0 50px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(124, 59, 59, 0.5) 8px 8px 0px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" style="color: {{ block.settings.button_color }}; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; display: inline-block; border-bottom: 3px solid {{ block.settings.button_color }}">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow">
          {% if block.settings.image_layer != blank %}
          	<div class="image-layer-slider"><img src="{{ block.settings.image_layer | img_url: '613x467' | split:'?' | first }}" alt="{{ block.settings.image_layer.alt }}" /></div>
          {% endif %}
          <div class="container text-left">
            <div class="g-content-slider" style="max-width: 570px; float: right;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0 0 30px 0; line-height: 1;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 600; color: {{ block.settings.heading_color }}; text-transform: none; margin: 0 0 50px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(124, 59, 59, 0.5) 8px 8px 0px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" style="color: {{ block.settings.button_color }}; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; display: inline-block; border-bottom: 3px solid {{ block.settings.button_color }}">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>  
      </div>
      {% endif %}
      {% endif %}
      
      {% if block.type == 'image4' %}
      {%- case block.settings.align_content -%}
      {% when '1' %}
      {%- assign align_style = 'align-left_content' -%}
      {% when '2' %}
      {%- assign align_style = 'align-center_content' -%}
      {% when '3' %}
      {%- assign align_style = 'align-right_content' -%}
      {%- endcase -%}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 760px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0; line-height: 1; {% if block.settings.use_title_shadow %}text-shadow: rgba(21, 10, 63, 0.5) 4px 3px 0px"{% endif %}>{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; text-transform: uppercase; margin: 0 0 45px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(21, 10, 63, 0.5) 12px 9px 0px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 760px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0; line-height: 1; {% if block.settings.use_title_shadow %}text-shadow: rgba(21, 10, 63, 0.5) 4px 3px 0px"{% endif %}>{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; text-transform: uppercase; margin: 0 0 45px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(21, 10, 63, 0.5) 12px 9px 0px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>   
      </div>
      {% endif %}
      {% endif %}

      {% if block.type == 'image5' %}
      {%- case block.settings.align_content -%}
      {% when '1' %}
      {%- assign align_style = 'align-left_content' -%}
      {% when '2' %}
      {%- assign align_style = 'align-center_content' -%}
      {% when '3' %}
      {%- assign align_style = 'align-right_content' -%}
      {%- endcase -%}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow-center-loop">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 650px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; line-height: 1.2; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0; white-space: nowrap;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style='font-family: {{ header_family }}; font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; margin: 0 0 20px 0; line-height: 1.2; white-space: nowrap;'>{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-border-bold" style="line-height: 1.35; color: {{ block.settings.button_color }}; border-color: {{ block.settings.button_color }}; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; display: inline-block; border-style: solid; border-width: 0px 0px 2px; white-space: nowrap;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow-center-loop">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 650px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; line-height: 1.2; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0; white-space: nowrap;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style='font-family: {{ header_family }}; font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; margin: 0 0 20px 0; line-height: 1.2; white-space: nowrap;'>{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-border-bold" style="line-height: 1.35; color: {{ block.settings.button_color }}; border-color: {{ block.settings.button_color }}; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; display: inline-block; border-style: solid; border-width: 0px 0px 2px; white-space: nowrap;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>   
      </div>
      {% endif %}
      {% endif %}
      
      {% if block.type == 'image6' %}
      {%- case block.settings.align_content -%}
      {% when '1' %}
      {%- assign align_style = 'align-left_content text-left' -%}
      {% when '2' %}
      {%- assign align_style = 'align-center_content text-center' -%}
      {% when '3' %}
      {%- assign align_style = 'align-right_content text-right' -%}
      {%- endcase -%}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 860px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0; line-height: 1;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; margin: 0 0 25px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(0, 0, 0, 0.5) 9px 2px 20px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 860px;">
              {% if block.settings.title != blank %}
              	<h4 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 600; color: {{ block.settings.title_color }}; margin: 0; line-height: 1;">{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; margin: 0 0 25px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(0, 0, 0, 0.5) 9px 2px 20px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>   
      </div>
      {% endif %}
      {% endif %}
      
      {% if block.type == 'image7' %}
      {%- case block.settings.align_content -%}
      {% when '1' %}
      {%- assign align_style = 'align-left_content text-left' -%}
      {% when '2' %}
      {%- assign align_style = 'align-center_content text-center' -%}
      {% when '3' %}
      {%- assign align_style = 'align-right_content text-right' -%}
      {%- endcase -%}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 1024px;">
              {% if block.settings.title != blank %}
              	<h5 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0 0 15px 0; line-height: 1;">{{ block.settings.title }}</h5>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 300; color: {{ block.settings.heading_color }}; margin: 0 0 30px 0; line-height: 1; letter-spacing: 15px; {% if block.settings.use_text_shadow %}text-shadow: rgba(0, 0, 0, 0.5) 9px 2px 20px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-3" style="color: {{ block.settings.button_color }}; font-size: {{ block.settings.button_font_size }}px;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow">
          <div class="container">
            <div class="g-content-slider {{ align_style }}" style="max-width: 1024px;">
              {% if block.settings.title != blank %}
              	<h5 style="font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0 0 15px 0; line-height: 1;">{{ block.settings.title }}</h5>
              {% endif %}
              {% if block.settings.heading != blank %}
              	<h2 style="font-size: {{ block.settings.heading_font_size }}px; font-weight: 300; color: {{ block.settings.heading_color }}; margin: 0 0 30px 0; line-height: 1; letter-spacing: 15px; {% if block.settings.use_text_shadow %}text-shadow: rgba(0, 0, 0, 0.5) 9px 2px 20px;{% endif %}">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-3" style="color: {{ block.settings.button_color }}; font-size: {{ block.settings.button_font_size }}px;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>   
      </div>
      {% endif %}
      {% endif %}
		
      {% if block.type == 'image8' %}
      {%- case block.settings.align_content -%}
      {% when '1' %}
      {%- assign align_style = 'align-left_content text-left' -%}
      {% when '2' %}
      {%- assign align_style = 'align-center_content text-center' -%}
      {% when '3' %}
      {%- assign align_style = 'align-right_content text-right' -%}
      {%- endcase -%}
      {% if block.settings.image == blank %}
      <div class="item item-svg">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="content_slideshow">
          <div class="container-small">
            <div class="g-content-slider {{ align_style }}" style="max-width: 560px; width: 100%; position: relative;">
              {% if block.settings.title != blank %}
              <h5 style="position: absolute; top: 55%; left: 7%; font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0; line-height: 1; letter-spacing: 2px;">{{ block.settings.title }}</h5>
              {% endif %}
              {% if block.settings.heading != blank %}
              <h2 style='letter-spacing: -4px; font-family: {{ header_family }}; font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; margin: 0 0 40px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(0, 0, 0, 0.5) 9px 2px 20px;{% endif %}'>{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div> 
      </div>
      {% else %}
      <div class="item" style="background: url('{{ block.settings.image | img_url: 'master' }}') center center no-repeat;background-size: cover; min-height: {{ section.settings.height_slider }}px">
        <div class="content_slideshow">
          <div class="container-small">
            <div class="g-content-slider {{ align_style }}" style="max-width: 560px; width: 100%; position: relative;">
              {% if block.settings.title != blank %}
              <h5 style="position: absolute; top: 55%; left: 7%; font-size: {{ block.settings.title_font_size }}px; font-weight: 700; color: {{ block.settings.title_color }}; margin: 0; line-height: 1; letter-spacing: 2px;">{{ block.settings.title }}</h5>
              {% endif %}
              {% if block.settings.heading != blank %}
              <h2 style='letter-spacing: -4px; font-family: {{ header_family }}; font-size: {{ block.settings.heading_font_size }}px; font-weight: 700; color: {{ block.settings.heading_color }}; margin: 0 0 40px 0; line-height: 1; {% if block.settings.use_text_shadow %}text-shadow: rgba(0, 0, 0, 0.5) 9px 2px 20px;{% endif %}'>{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.button_name != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-slider-1" style="box-shadow: 7px 7px 0 rgba(79,84,124,0.4); line-height: 50px; color: {{ block.settings.button_color }}; padding: 0 40px; font-size: {{ block.settings.button_font_size }}px; font-weight: 600; text-transform: uppercase; background-color: #fff; letter-spacing: 2px; display: inline-block;">{{ block.settings.button_name }}</a>
              {% endif %}
            </div>
          </div>
        </div>   
      </div>
      {% endif %}
      {% endif %}
      
      {% if block.type == 'video' %}
      <div class="item" style="height: {{ section.settings.height_slider }}px">
        <iframe width="100%" height="100%" src="{{ block.settings.link_video }}?autoplay=1&mute=1&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      {% endif %}
    
      {% endfor %}
      {% endif %}
    </div>  
  </div>
</div>
<style>
  {% if section.settings.use_full_screen %}
  .g-slideshow .item svg {
    min-height: 100%;
  } 
  {% else %}
  .g-slideshow .item svg {
    min-height: {{ section.settings.height_slider }}px;
  }
  {% endif %}
  
  {% if section.settings.mobile_slider_height != blank %}
  @media(max-width: 767px) {
    .g-slideshow .item:not(.item-svg) {
      padding-top: {{ section.settings.mobile_slider_height }} !important;
    }
  }
  {% endif %}
  
</style>
{% schema %}
  {
    "name": "Slideshow",
    "class": "globo-slideshow",
    "max_blocks": 6,
    "settings": [
      {
        "type": "header",
        "content": "Mobile height slider"
      },
      {
        "type": "text",
        "id": "mobile_slider_height",
        "label": "Height: (top-right-bottom-left)",
        "info": "Ex: 100%"
      },
      {
        "type": "checkbox",
        "id": "use_full_screen",
        "label": "Use full screen slideshow?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_center_with_loop",
        "label": "Use center with loop?",
        "default": false
      },
      {
        "type": "select",
        "id": "use_width",
        "label": "Slideshow width",
        "options": [
          { "value": "1", "label": "Use full width" },
          { "value": "2", "label": "Use padding" },
          { "value": "3", "label": "Use container" }
        ],
        "default": "2"
      },
      {
        "type": "checkbox",
        "id": "show_left_menu_slider",
        "label": "Show left menu links?",
        "default": false
      },
      {
        "type": "link_list",
        "id": "link_left_menu_slider",
        "label": "Link left menu"
      },
      {
        "type": "text",
        "id": "height_slider",
        "label": "Slideshow height",
		"default": "860"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin: (top-right-bottom-left)",
        "info": "Ex: 10px 0 30px 0"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_dots_slideshow",
        "label": "Use dots?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_nav_slideshow",
        "label": "Use nav?",
        "default": true
      },
      {
        "type": "select",
        "id": "nav_style",
        "label": "Use nav style position",
        "options": [
          { "value": "1", "label": "Nav style position 1" },
          { "value": "2", "label": "Nav style position 2" }
        ],
        "default": "1"
      },
      {
        "type": "select",
        "id": "transition",
        "label": "Change transition",
        "options": [
          { "value": "slide", "label": "Slide" },
          { "value": "fade", "label": "Fade" }
        ],
        "default": "slide"
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "5000"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide Main 1",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "align_content",
            "label": "Align content",
            "options": [
              { "value": "1", "label": "Align left content" },
              { "value": "2", "label": "Align center content" },
              { "value": "3", "label": "Align right content" }
            ],
            "default": "3"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New Season"
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "50"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "SALE OFF 50%"
          },
          {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading font size",
            "default": "100"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "use_text_shadow",
            "label": "Use text shadow?",
            "default": false
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Don’t miss this chance"
          },
          {
            "type": "text",
            "id": "subheading_font_size",
            "label": "Subheading font size",
            "default": "20"
          },
          {
            "type": "color",
            "id": "subheading_color",
            "label": "Subheading color",
            "default": "#ffffff"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_name",
            "label": "Button name",
			"default": "SHOP NOW"
          },
          {
            "type": "text",
            "id": "button_font_size",
            "label": "Button font size",
            "default": "12"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#4a4141"
          }
        ]
      },
      {
        "type": "image2",
        "name": "Slide Main 2",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Natural Colours"
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "140"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "use_text_shadow",
            "label": "Use text shadow?",
            "default": false
          },
	      {
            "type": "checkbox",
            "id": "show_video_popup",
            "label": "Show button video popup",
            "default": true
          },
          {
            "type": "text",
            "id": "link_video_popup",
            "label": "Link video",
            "default": "https:\/\/www.youtube.com\/embed\/2df62ekI9UY?autoplay=1",
            "info": "Ex: https:\/\/www.youtube.com\/embed\/2df62ekI9UY?autoplay=1, https:\/\/player.vimeo.com/\video\/172601404?autoplay=1"
          }
        ]
      },
      {
        "type": "image3",
        "name": "Slide Main 3",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_layer",
            "label": "Image layer"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Medium denim overshirt"
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "36"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#4a4141"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "off 20%"
          },
          {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading font size",
            "default": "144"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#3a3a3a"
          },
          {
            "type": "checkbox",
            "id": "use_text_shadow",
            "label": "Use text shadow?",
            "default": false
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_name",
            "label": "Button name",
			"default": "SHOP NOW"
          },
          {
            "type": "text",
            "id": "button_font_size",
            "label": "Button font size",
            "default": "16"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#4a4141"
          }
        ]
      },
      {
        "type": "image4",
        "name": "Slide Main 4",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "align_content",
            "label": "Align content",
            "options": [
              { "value": "1", "label": "Align left content" },
              { "value": "2", "label": "Align center content" },
              { "value": "3", "label": "Align right content" }
            ],
            "default": "2"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "DON'T MISS THIS CHANCE"
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "48"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "use_title_shadow",
            "label": "Use text shadow?",
            "default": true
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "SALE 20%"
          },
          {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading font size",
            "default": "144"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "use_text_shadow",
            "label": "Use text shadow?",
            "default": true
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_name",
            "label": "Button name",
			"default": "SHOP NOW"
          },
          {
            "type": "text",
            "id": "button_font_size",
            "label": "Button font size",
            "default": "12"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#4a4141"
          }
        ]
      },
      {
        "type": "image5",
        "name": "Slide Main 5",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "align_content",
            "label": "Align content",
            "options": [
              { "value": "1", "label": "Align left content" },
              { "value": "2", "label": "Align center content" },
              { "value": "3", "label": "Align right content" }
            ],
            "default": "1"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "#woman"
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "18"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Natural Colours"
          },
          {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading font size",
            "default": "64"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#ffffff"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_name",
            "label": "Button name",
			"default": "SHOP NOW"
          },
          {
            "type": "text",
            "id": "button_font_size",
            "label": "Button font size",
            "default": "16"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#ffffff"
          }
        ]
      },
      {
        "type": "image6",
        "name": "Slide Main 6",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "align_content",
            "label": "Align content",
            "options": [
              { "value": "1", "label": "Align left content" },
              { "value": "2", "label": "Align center content" },
              { "value": "3", "label": "Align right content" }
            ],
            "default": "1"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "#dress time #fashion trend "
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "18"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Striped<br> Halter Top"
          },
          {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading font size",
            "default": "144"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "use_text_shadow",
            "label": "Use text shadow?",
            "default": false
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_name",
            "label": "Button name",
			"default": "SHOP NOW"
          },
          {
            "type": "text",
            "id": "button_font_size",
            "label": "Button font size",
            "default": "12"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#4a4141"
          }
        ]
      },
      {
        "type": "image7",
        "name": "Slide Main 7",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "align_content",
            "label": "Align content",
            "options": [
              { "value": "1", "label": "Align left content" },
              { "value": "2", "label": "Align center content" },
              { "value": "3", "label": "Align right content" }
            ],
            "default": "1"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "#Summer Collections"
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "14"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
			"default": "G<span style=\"color: #a38b5e;\">OO<\/span>D MAN"
          },
          {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading font size",
            "default": "144"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "use_text_shadow",
            "label": "Use text shadow?",
            "default": false
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_name",
            "label": "Button name",
			"default": "SHOP NOW"
          },
          {
            "type": "text",
            "id": "button_font_size",
            "label": "Button font size",
            "default": "16"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#ffffff"
          }
        ]
      },
      {
        "type": "image8",
        "name": "Slide Main 8",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "align_content",
            "label": "Align content",
            "options": [
              { "value": "1", "label": "Align left content" },
              { "value": "2", "label": "Align center content" },
              { "value": "3", "label": "Align right content" }
            ],
            "default": "1"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Fashion Trend"
          },
          {
            "type": "text",
            "id": "title_font_size",
            "label": "Title font size",
            "default": "13"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#4a4141"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
			"default": "Rabbit<br>Sexy"
          },
          {
            "type": "text",
            "id": "heading_font_size",
            "label": "Heading font size",
            "default": "104"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "use_text_shadow",
            "label": "Use text shadow?",
            "default": false
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_name",
            "label": "Button name",
			"default": "SHOP NOW"
          },
          {
            "type": "text",
            "id": "button_font_size",
            "label": "Button font size",
            "default": "12"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button color",
            "default": "#4a4141"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "text",
            "id": "link_video",
            "label": "Link Video Embed",
            "default": "https://www.youtube.com/embed/DIgv-e18OzA",
			"info": "Video youtube, vimeo"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
