{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}

<div class="left-password" style="{% if section.settings.image != blank %}background-image: url({{ section.settings.image | img_url: 'master' | split:'?' | first }}){% else %}background-image: url({{ 'coming-soon-bg1.jpg' | asset_url }}){% endif %}">

</div>

<div class="right-password">
  <div class="table-password">
    <div class="table-cell-password">
      <div class="password-login">
        <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary">
          {{ 'general.password_page.password_link' | t }} &rarr;
        </a>
      </div>
      {% if section.settings.heading_password != blank %}
      <h3>{{ section.settings.heading_password }}</h3>
      {% endif %}
      {% if section.settings.end_date_countdown != blank %}
      <div class="mantis-countdown" data-end-date="{{ section.settings.end_date_countdown }}"></div>
      {% endif %}
      {% if section.settings.newsletter_enable %}
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
      <ul class="form--success">
        <li>{{ 'general.password_page.signup_form_success' | t }}</li>
      </ul>
      {% else %}
      <input type="hidden" name="contact[tags]" value="prospect, password page">
      <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
      <div class="input-group password__input-group">
        <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
        <span class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            <span>{{ section.settings.newsletter_button_text | escape }}</span>
          </button>
        </span>
      </div>
      {% endif %}
      {% endform %}
      {% endif %}

      {% if section.settings.show_share_buttons %}
      <div class="password-social-sharing">
        <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
        {% include 'social-sharing' %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image left"
      },
      {
        "type": "text",
        "id": "heading_password",
        "label": "Heading",
        "default": "Our website is coming soon."
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "end_date_countdown",
        "label": "End date countdown",
        "default": "2019/10/29",
        "info": "yyyy/mm/dd"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Enter your email address..."
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Subscribe"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
